.imgFlag {
  height: 50%;
  width: 70%;
  margin: 0 auto;
  border: 1px solid;
}

.principalCard {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #d8eef8;
  width: 280px;
  height: 200px;
  margin-top: 30px;
  text-align: center;
}
